<!-- templates/navbar.html -->
<nav class="bg-slate-900 border-b border-slate-800 p-4 flex justify-between items-center">
  <div class="flex gap-4">
  <a href="/" class="text-blue-400 font-bold p-2 text-xl">Lost n Found</a>

  <form action="{{ url_for('main_bp.index') }}" method="GET" class="flex items-center bg-slate-800 rounded-lg px-3">
    <input 
      type="text" 
      name="q" 
      placeholder="Search..."
      class="bg-transparent text-slate-200 placeholder-slate-500 focus:outline-none py-2 w-48"
    >
    <button type="submit" class="ml-2 text-slate-400 hover:text-blue-400">
      
    </button>
  </form>
  </div>


  <div class="flex items-center gap-6">
    <a href="/" class="text-gray-200 hover:text-blue-400 transition-colors duration-300">Home</a>
    <a href="{{ url_for('profiles_bp.profile') }}" class="text-gray-200 hover:text-blue-400 transition-colors duration-300">Profile</a>

    <!-- Auth buttons -->
    <div class="flex gap-3">
      <a href="{{ url_for('auth_bp.login') }}" 
         class="px-4 py-2 rounded-lg border border-blue-400 text-blue-400 hover:bg-blue-400 hover:text-white transition-all duration-300">
         Login
      </a>
      <a href="{{ url_for('auth_bp.signup') }}" 
         class="px-4 py-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600 transition-all duration-300">
         Sign Up
      </a>
    </div>

</nav>
